.imagenes {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}
h1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120px;
    height: 60PX;
    text-align: center;
    color: rgb(10, 2, 10);
}
h2
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: center;    
    color: rgba(70, 10, 62, 0.952);
}
h3{
     font-family: 'Great Vibes', cursive;
  font-size: 2rem;
}

body {
    background-color: rgb(148, 125, 148);
}
img
{
    width: 400px;
    height: 300px;

}
p{
    font-size: 35px;
}
li{

    font-size: 35px;
    color: rgb(50, 7, 90);
    text-align: unset;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    footer
{background-color: rgb(141, 22, 87);
    color: rgb(171, 175, 177);
    font-family: cursive;
    padding: 1%;
    text-align: center;
}

div
{
    text-align: center;
}

